# Entorno Virtual
venv/
env/

# Variables de entorno
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Base de datos local
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# Alembic (versiones generadas localmente)
alembic/versions/*.py
